<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="profile-container">
        <img>
        <h2>
            <%=username%>
        </h2>
        <!-- home.ejs -->
        <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
    <div>
        <h3>Debate Rooms</h3>
        <a href="google Debate">google Debate<br></a>

        <a href="Valheim is the best, prove me wrong!">Valheim is the best, prove me wrong!<br></a>
    </div>
</body>

</html>